<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<!-- Context loading -->
	<display-name>Swagger-CXF-Sample</display-name>
	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>com.github.sbugat.samplerest.config.application.ApplicationConfiguration</param-value>
	</context-param>

	<!-- Listeners -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<!-- CXF Servlet configuration -->
	<servlet>
		<display-name>CXF Service Servlet</display-name>
		<servlet-name>CXFServiceServlet</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>

		<!-- Path of the Swagger application -->
		<init-param>
			<param-name>swagger.api.basepath</param-name>
			<param-value>http://localhost:8080/api</param-value>
		</init-param>

		<!-- Security filter -->
		<init-param>
			<param-name>swagger.security.filter</param-name>
			<param-value>ApiAuthorizationFilterImpl</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Filter for JQuery CORS -->
	<!--<filter>
		<filter-name>ApiOriginFilter</filter-name>
		<filter-class>com.github.sbugat.samplerest.util.ApiOriginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ApiOriginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>-->

	<!-- CXF servlet path: /api -->
	<servlet-mapping>
		<servlet-name>CXFServiceServlet</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
</web-app>
